@media (min-width: 280px), (max-width: 500px) {
  .container {
    max-width: 320px;
    padding: 0 20px 0 20px;
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 768px;
    padding: 46px 76px 0 76px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1024px;
    padding: 0 76px 0 76px;
  }
}
