@media (min-width: 280px), (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/mobile/header.png);
    // background-color: dimgray;
    width: 320px;
    height: 230px;
    color: seashell;
    justify-content: center;
  }

  .nav {
    display: flex;
  }
  .logo {
    display: block;
  }
  .logo__picture {
    display: block;
    width: 24px;
    height: 24px;
    animation-iteration-count: infinite;
  }
  .logo__text {
    opacity: 0;
  }
  .nav__list {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: -10px;
    &-item {
      display: inline-block;
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
  .form {
    display: flex;
    justify-content: center;
    position: relative;
    color: #ffffff;
    .form__input {
      display: block;
      color: seashell;
      margin-top: 40px;
      border-left: transparent;
      border-right: transparent;
      border-bottom: 1px solid #fff;

      width: 280px;
      height: 20px;
      left: 20px;
      top: 113px;

      background-color: rgba($color: #000000, $alpha: 0);
    }
    .form__input::placeholder {
      color: #fff;
    }
    .btn-search {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 39px;
      left: 256px;
      background-color: transparent;
      border: transparent;
      .icon-search {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .logo__text {
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  .logo__text {
    opacity: 1;
  }
}
