<header class="container  header">

<nav class="nav"><h1 class="logo"><a href=""> <svg width = "24" height = "24">
    <use class="animate__fadeInDown animate__animated logo__picture" href = "../src/images/film.svg#icon-film"></use>
</svg><span class="logo__text">filmoteka</span>  </a></h1>
    <ul class="nav__list">
        <li class="nav__list-item">home</li>
        <li class="nav__list-item">my library</li>
    </ul>
</nav>
<form class="form" action=""><input class="form__input" name="search-moovie" type="text" value="" placeholder="Поиск фильмов"> </form>

</header>
